<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>PhiMessage</title>
  <meta name="description" content="Secure messaging, but not really">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <script data-main="{{ url_for('static', filename='js/main.js') }}" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.11/require.min.js"></script>
</body>
</html>
