header {
    padding: 10px 20px;
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}

h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 5px;
}

h1.hidden {
    position: absolute;
    left: 100%;
}

h1::before {
    content: '𝜑';
}

#content {
    margin: 20px;
}

#logout-button {
    position: absolute;
    right: 15px;
    top: 16px;
}

/* User List */
#user-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

#user-list li a {
    display: block;
    padding: 10px;
}

#user-list li a:hover {
    text-decoration: none;
    background-color: #eee;
}
